---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

// import { Debug } from "astro:components";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  const paths = uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    );
    const postsPerTag = {
      params: { tag },
      props: { posts: filteredPosts },
    };
    return postsPerTag;
  });

  return paths;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag),
);
---

<BaseLayout pagetitle={`Pages tagged: ${tag}`}>
  <p>Posts tagged with <strong>{tag}</strong></p>
  <ul>
    {
      filteredPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
<!-- <Debug answer={ok} /> -->
<script define:vars={{ filteredPosts }}>
  // console.log("filteredPosts: ", filteredPosts);
</script>
