---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";

const {
  frontmatter: { title, author, pubDate, description, image },
} = Astro.props;
// const { title, author } = frontmatter;
---

<BaseLayout pagetitle={title}>
  <p>{pubDate.toString().slice(0, 10)}</p>
  <p><em>{description}</em></p>
  <p>Written by: {author}</p>
  <img src={image.url} width="300" alt={image.alt} />
  <slot />
</BaseLayout>
